@import './siderbar.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  outline: none;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
